.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rgb(129, 126, 126);
}

.dialogsItems {
  padding: 10px;
  color: #fff;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
}

.messages {
  padding: 10px;
}

.messages .message {
  color: #fff;
}
